<?xml version="1.0" encoding="utf-8"?>
<Root supp="xxxx">
	<Wan path="1">
		<PPPoE path="1">
			<ctrl psw="psw" conf="confirm" conn="Connect=%C1%AC+%BD%D3" acc="acc" dconn="Disconnect=%B6%CF+%CF%DF" wantype="wantype=0" linktype="linktype=4" sav="Save=%B1%A3+%B4%E6" path="1"/>
			<stat regex="pppoeInf\s*=\s*new Array\(([^,]*,){26}\s(\S)" path="1">0,1,2,3</stat>
		</PPPoE>
		<DIP path="">
			<ctrl wantype="" path=""/>
		</DIP>
		<Mac path="4">
			<ctrl sav="Save=%B1%A3+%B4%E6" mac="mac1" path=""/>
		</Mac>
		<SIP path=""/>
	</Wan>
	<TrafStat path="2"><ctrl statOff="statOff=%B9%D8%B1%D5%C1%F7%C1%BF%CD%B3%BC%C6" statOn="statOn=%BF%AA%C6%F4%C1%F7%C1%BF%CD%B3%BC%C6&amp;interval=5&amp;Num_per_page=100" path="2"/>
		<stat regex="statList = new Array\(([^\)]*)" ipr="13" path="2">1,2,3,4,5,6</stat>
	</TrafStat>
	<DHCP path="3">
		<stat regex="var DHCPDynList = new Array\(([^\)]*)" path="3" ipr="4">0,1,2</stat>
	</DHCP><Auth defaultPW="" statRegex="" defaultUN="" mthd="1" path="0" accessOK="0"/><Path>1/
1userRpm/PPPoECfgRpm.htm
1userRpm/SystemStatisticRpm.htm
1userRpm/AssignedIpAddrListRpm.htm
1userRpm/MacCloneCfgRpm.htm</Path></Root>
