<?xml version="1.0" encoding="utf-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<Root supp="xxxx">
	<Wan regex="cableDSL=&quot;(.)&quot;" path="system_status.asp">
		<PPPoE path="">
			<ctrl mthd="0" path="goform/AdvSetWan" wantype="WANT1=2" acc="PUN" psw="PPW" sav="GO=wan_connectd.asp" linktype="PCM=2" conn="" conf="" dconn=""/>
			<stat regex="pppoeInf\s*=\s*new Array\(([^,]*,){26}\s(\S)" path="">0,1,2,3</stat>
		</PPPoE>
		<DIP>
			<ctrl wantype="WANT1=1"/>
		</DIP>
		<Mac path="userRpm/MacCloneCfgRpm.htm">
			<ctrl sav="Save=%B1%A3+%B4%E6" mac="mac1"/>
		</Mac>
		<SIP/>
	</Wan>
	<TrafStat path="userRpm/SystemStatisticRpm.htm"><ctrl statOff="statOff=%B9%D8%B1%D5%C1%F7%C1%BF%CD%B3%BC%C6" statOn="statOn=%BF%AA%C6%F4%C1%F7%C1%BF%CD%B3%BC%C6&amp;interval=5&amp;Num_per_page=100" path=""/>
		<stat regex="StatRulePara = new Array\(([^\)]*)" ipr="13">1,2,3,4,5,6</stat>
	</TrafStat>
	<DHCP path="userRpm/AssignedIpAddrListRpm.htm">
		<stat regex="var DHCPDynList = new Array\(([^\)]*)"></stat>
	</DHCP><Auth defaultPW="" statRegex="" mthd="1" cookie="admin:language=cn" path="LoginCheck" defaultUN="admin" UN="Username" PW="Password">Server: GoAhead-Webs</Auth><Path></Path></Root>
