<?xml version="1.0" encoding="utf-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<Root supp="">
	<Wan regex="cableDSL=&quot;((.))&quot;" path="1">
		<PPPoE path="1">
			<ctrl mthd="0" path="2" wantype="WANT1=2" acc="PUN" psw="PPW" sav="GO=wan_connectd.asp" linktype="PCM=2" conn="" conf="" dconn=""/>
			<stat regex="" path="1">0,1,2,3</stat>
		</PPPoE>
		<DIP path="1">
			<ctrl wantype="WANT1=1" path="1"/>
		</DIP>
		<Mac path="">
			<ctrl sav="Save=%B1%A3+%B4%E6" mac="mac1" path="1"/>
		</Mac>
		<SIP path="1"/>
	</Wan>
	<TrafStat path="3"><ctrl statOff="statOff=%B9%D8%B1%D5%C1%F7%C1%BF%CD%B3%BC%C6" statOn="statOn=%BF%AA%C6%F4%C1%F7%C1%BF%CD%B3%BC%C6&amp;interval=5&amp;Num_per_page=100" path=""/>
		<stat regex="([\s\S]*)" ipr="7" path="3">0,-1,6,4,2,1</stat>
	</TrafStat>
	<DHCP path="4">
		<stat regex="dhcpList=new Array\(([^\)]*)" path="4" ipr="4">0,2,1</stat>
	</DHCP><Auth defaultPW="admin" mthd="0" cookie="admin:language=cn" path="0" defaultUN="admin" UN="Username" PW="Password" accessOK="def_PUN" statRegex="((def_PUN))"/><Path>0LoginCheck
1system_status.asp
0goform/AdvSetWan
0goform/updateIptAccount
1lan_dhcp_clients.asp</Path></Root>
