<?xml version="1.0" encoding="utf-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<Root supp="xxxx">
	<Wan path="userRpm/PPPoECfgRpm.htm">
		<PPPoE path="userRpm/PPPoECfgRpm.htm">
			<ctrl psw="psw" conf="confirm" conn="Connect=%C1%AC+%BD%D3" acc="acc" dconn="Disconnect=%B6%CF+%CF%DF" wantype="wantype=0" linktype="linktype=4" sav="Save=%B1%A3+%B4%E6"/>
			<stat regex="pppoeInf = new Array\(([^,]*,){26}\s(\S)">0,1,2,3</stat>
		</PPPoE>
		<DIP>
			<ctrl wantype=""/>
		</DIP>
		<Mac path="userRpm/MacCloneCfgRpm.htm">
			<ctrl sav="Save=%B1%A3+%B4%E6" mac="mac1"/>
		</Mac>
		<SIP/>
	</Wan>
	<TrafStat path="userRpm/SystemStatisticRpm.htm"><ctrl statOff="statOff=%B9%D8%B1%D5%C1%F7%C1%BF%CD%B3%BC%C6" statOn="statOn=%BF%AA%C6%F4%C1%F7%C1%BF%CD%B3%BC%C6&amp;interval=5&amp;Num_per_page=100"/>
		<stat regex="StatRulePara = new Array\(([^\)]*)" ipr="7">1,2,3,4,5,6</stat>
	</TrafStat>
	<DHCP path="userRpm/AssignedIpAddrListRpm.htm">
		<stat regex="var DHCPDynList = new Array\(([^\)]*)"></stat>
	</DHCP><Auth defaultPW="" statRegex="" defaultUN="admin" path="" mthd="1">0,1</Auth></Root>
